/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Domine', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gayathri', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #22324d;
  margin-top: 20px;
  border-bottom: 3px solid #828C9B;
}
.navContainer nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 70%;
  font-size: 2.2rem;
  font-family: 'Gayathri', sans-serif;
  padding-bottom: 13px;
}
@media (max-width: 500px) {
  .navContainer nav {
    width: 90%;
    height: 60px;
    font-size: 2rem;
    margin-right: 5%;
    margin-left: 5%;
  }
}
.navContainer nav a {
  color: #D3ddEA;
  text-decoration: none;
}
.navContainer nav a:hover {
  color: #FF990A;
}
.navContainer img {
  margin-right: 10px;
}
@media (max-width: 500px) {
  .navContainer img {
    display: none;
  }
}
header {
  display: flex;
  width: 100%;
  background-color: #D3ddEA;
  border-bottom: 4px solid #828C9B;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header .headerMain {
  width: 50%;
}
@media (max-width: 500px) {
  header .headerMain {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
header .headerMain .headerName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 500px) {
  header .headerMain .headerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
header .headerMain .headerName h1 {
  font-size: 5vw;
  padding-bottom: 8px;
  color: #343a48;
  margin-left: 2%;
  max-width: 65%;
}
@media (min-width: 1350px) {
  header .headerMain .headerName h1 {
    font-size: 6.25rem;
  }
}
@media (max-width: 880px) {
  header .headerMain .headerName h1 {
    font-size: 6vw;
  }
}
@media (max-width: 500px) {
  header .headerMain .headerName h1 {
    font-size: 10vw;
    max-width: 100%;
    margin: 0;
    margin-top: 25px;
    text-align: center;
  }
}
header .headerMain .headerName img {
  margin-left: 1%;
  margin-right: 2%;
  max-width: 30%;
}
@media (max-width: 500px) {
  header .headerMain .headerName img {
    width: 100%;
  }
}
header .headerMain .slogan {
  width: 100%;
}
header .headerMain .slogan p {
  font-size: 2vw;
  padding: 0;
  text-align: center;
  color: #22324d;
  padding-bottom: 10px;
}
@media (min-width: 1350px) {
  header .headerMain .slogan p {
    font-size: 2.5rem;
  }
}
@media (max-width: 880px) {
  header .headerMain .slogan p {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  header .headerMain .slogan p {
    font-size: 4vw;
  }
}
header .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  margin-right: 8.5%;
  margin-left: 8.5%;
}
header .buttonContainer button {
  color: #D3ddEA;
  background: #545E75;
  border: 3px solid #22324d;
  border-radius: 15px;
  padding: 15px 33%;
  font-size: 2.5vw;
  font-family: 'Questrial', sans-serif;
}
@media (min-width: 1350px) {
  header .buttonContainer button {
    font-size: 2.75rem;
  }
}
@media (max-width: 880px) {
  header .buttonContainer button {
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  header .buttonContainer button {
    padding: 10px 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 5vw;
  }
}
header .buttonContainer button:hover {
  transform: scale(1.1);
  color: #FF990A;
}
body .intro {
  display: flex;
  width: 100%;
  background: #D3ddEA;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  body .intro {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 20px;
  }
}
body .intro img {
  margin: 1%;
  border-radius: 15px;
  max-width: 48%;
}
@media (max-width: 500px) {
  body .intro img {
    max-width: 90%;
    margin: 5%;
  }
}
body .intro .introContent {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  border-radius: 15px;
  background: #545E75;
  color: #D3ddEA;
}
@media (max-width: 500px) {
  body .intro .introContent {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
body .intro .introContent .introParagraph {
  display: flex;
  flex-direction: column;
}
body .intro .introContent .introParagraph p {
  font-size: 2rem;
  width: 92%;
  margin: 4%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 1350px) {
  body .intro .introContent .introParagraph p {
    font-size: 2.25rem;
  }
}
@media (max-width: 880px) {
  body .intro .introContent .introParagraph p {
    font-size: 2.5vw;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  body .intro .introContent .introParagraph p {
    font-size: 4vw;
  }
}
body .intro .introContent .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  margin-right: 11%;
  margin-left: 11%;
  margin-top: 30px;
  margin-bottom: 15px;
}
@media (min-width: 1350px) {
  body .intro .introContent .buttonContainer {
    margin-top: 15px;
  }
}
@media (max-width: 880px) {
  body .intro .introContent .buttonContainer {
    margin-top: 15px;
  }
}
body .intro .introContent .buttonContainer button {
  color: #D3ddEA;
  background: #22324d;
  border: 3px solid #D3ddEA;
  border-radius: 15px;
  padding: 15px 27%;
  font-size: 2.75rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 1350px) {
  body .intro .introContent .buttonContainer button {
    font-size: 2.75rem;
  }
}
@media (max-width: 880px) {
  body .intro .introContent .buttonContainer button {
    padding: 15px 33%;
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  body .intro .introContent .buttonContainer button {
    padding: 10px 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 5vw;
  }
}
body .intro .introContent .buttonContainer button:hover {
  transform: scale(1.1);
  color: #FF990A;
}
body .mainFeatures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #D3ddEA;
}
body .mainFeatures .featuresHeader {
  width: 100%;
  background: #22324d;
}
body .mainFeatures .featuresHeader h2 {
  width: 100%;
  font-size: 4vw;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: #D3ddEA;
  text-transform: uppercase;
}
@media (min-width: 1350px) {
  body .mainFeatures .featuresHeader h2 {
    font-size: 3.25vw;
  }
}
@media (max-width: 880px) {
  body .mainFeatures .featuresHeader h2 {
    font-size: 4.5vw;
  }
}
@media (max-width: 500px) {
  body .mainFeatures .featuresHeader h2 {
    font-size: 7vw;
  }
}
body .mainFeatures .featuresContent {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  body .mainFeatures .featuresContent {
    flex-direction: column;
  }
}
body .mainFeatures .featuresContent .feature {
  width: 30%;
}
@media (max-width: 500px) {
  body .mainFeatures .featuresContent .feature {
    width: 90%;
    margin: 15px 5%;
  }
}
body .mainFeatures .featuresContent .feature h4 {
  width: 100%;
  font-size: 2.5vw;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #545E75;
  color: #22324d;
}
@media (min-width: 1350px) {
  body .mainFeatures .featuresContent .feature h4 {
    font-size: 2vw;
  }
}
@media (max-width: 880px) {
  body .mainFeatures .featuresContent .feature h4 {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  body .mainFeatures .featuresContent .feature h4 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 5vw;
    text-align: center;
  }
}
body .mainFeatures .featuresContent .feature p {
  color: #22324d;
}
@media (max-width: 500px) {
  body .mainFeatures .featuresContent .feature p {
    width: 100%;
    font-size: 3.5vw;
  }
}
body .solidColorDivider {
  height: 20px;
  background: #FF990A;
}
body .productsHeader h2 {
  width: 100%;
  font-size: 4vw;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: #D3ddEA;
  text-transform: uppercase;
  background: #22324d;
}
@media (min-width: 1350px) {
  body .productsHeader h2 {
    font-size: 3.25vw;
  }
}
@media (max-width: 880px) {
  body .productsHeader h2 {
    font-size: 4.5vw;
  }
}
@media (max-width: 500px) {
  body .productsHeader h2 {
    font-size: 7vw;
  }
}
body .productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #D3ddEA;
}
@media (max-width: 500px) {
  body .productContainer {
    flex-direction: column;
  }
}
body .productContainer .productExamples {
  width: 46%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  body .productContainer .productExamples {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }
}
body .productContainer .productExamples .productDescription {
  background: #828C9B;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}
body .productContainer .productExamples .productDescription h4 {
  font-size: 3vw;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #22324d;
}
@media (min-width: 1350px) {
  body .productContainer .productExamples .productDescription h4 {
    font-size: 2.5vw;
  }
}
@media (max-width: 880px) {
  body .productContainer .productExamples .productDescription h4 {
    font-size: 4vw;
  }
}
@media (max-width: 500px) {
  body .productContainer .productExamples .productDescription h4 {
    font-size: 6vw;
  }
}
body .productContainer .productExamples .productContent {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  align-self: center;
}
@media (max-width: 880px) {
  body .productContainer .productExamples .productContent {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  body .productContainer .productExamples .productContent {
    flex-direction: row;
  }
}
body .productContainer .productExamples .productContent .imgExampleProduct {
  width: 50%;
  align-self: center;
}
@media (max-width: 880px) {
  body .productContainer .productExamples .productContent .imgExampleProduct {
    width: 240px;
    align-self: center;
  }
}
body .productContainer .productExamples .productContent p {
  width: 50%;
  font-size: 1.75rem;
  padding: 10px;
  color: #22324d;
}
@media (max-width: 880px) {
  body .productContainer .productExamples .productContent p {
    width: 96%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  body .productContainer .productExamples .productContent p {
    font-size: 3.5vw;
  }
}
body .contactus {
  background: #D3ddEA;
  padding-bottom: 10px;
}
body .contactus h2 {
  width: 100%;
  font-size: 4vw;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: #D3ddEA;
  text-transform: uppercase;
  background: #22324d;
}
@media (min-width: 1350px) {
  body .contactus h2 {
    font-size: 3.25vw;
  }
}
@media (max-width: 880px) {
  body .contactus h2 {
    font-size: 4.5vw;
  }
}
@media (max-width: 500px) {
  body .contactus h2 {
    font-size: 7vw;
  }
}
body .contactus .mainContact {
  display: flex;
  width: 98%;
  margin: 1%;
}
@media (max-width: 880px) {
  body .contactus .mainContact {
    flex-direction: column-reverse;
  }
}
body .contactus .mainContact .socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 20px;
  width: 16%;
}
@media (max-width: 880px) {
  body .contactus .mainContact .socialMedia {
    flex-direction: row;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 0;
    width: 60%;
  }
}
@media (max-width: 500px) {
  body .contactus .mainContact .socialMedia {
    flex-direction: row;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 0;
    width: 76%;
  }
}
body .contactus .mainContact .socialMedia a {
  display: flex;
  width: 100%;
  justify-content: center;
}
body .contactus .mainContact .socialMedia a img {
  width: 60%;
}
body .contactus .mainContact .socialMedia a img:hover {
  transform: scale(1.1);
}
body .contactus .mainContact form {
  width: 74%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
@media (max-width: 880px) {
  body .contactus .mainContact form {
    width: 96%;
  }
}
body .contactus .mainContact form .nameEmailContainer {
  display: flex;
  margin: 5px;
}
@media (max-width: 880px) {
  body .contactus .mainContact form .nameEmailContainer {
    flex-direction: column;
    align-self: flex-start;
  }
}
body .contactus .mainContact form .nameEmailContainer .name {
  width: 48%;
  margin-right: 2%;
  align-self: center;
}
@media (max-width: 880px) {
  body .contactus .mainContact form .nameEmailContainer .name {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
body .contactus .mainContact form .nameEmailContainer .name input {
  font-size: 1.5rem;
  margin-right: 10px;
  border: 2px solid #828C9B;
  border-radius: 5px;
  font-family: 'Domine', serif;
  color: #22324d;
}
body .contactus .mainContact form .nameEmailContainer .email {
  width: 48%;
  margin-right: 2%;
  align-self: center;
}
@media (max-width: 880px) {
  body .contactus .mainContact form .nameEmailContainer .email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
body .contactus .mainContact form .nameEmailContainer .email input {
  font-size: 1.5rem;
  border: 2px solid #828C9B;
  border-radius: 5px;
  font-family: 'Domine', serif;
  color: #22324d;
}
body .contactus .mainContact form .message {
  width: 100%;
  align-self: center;
}
body .contactus .mainContact form .message textarea {
  width: 98%;
  align-self: center;
  font-size: 1.4rem;
  margin: 1%;
  border: 2px solid #828C9B;
  border-radius: 5px;
  font-family: 'Domine', serif;
  color: #22324d;
}
body .contactus .mainContact form .submitButton {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  body .contactus .mainContact form .submitButton {
    justify-content: center;
  }
}
body .contactus .mainContact form .submitButton input {
  font-size: 2rem;
  margin: 1%;
  padding: 10px 20px;
  border: 2px solid #22324d;
  border-radius: 10px;
  background: #22324d;
  color: #D3ddEA;
  font-family: 'Questrial', sans-serif;
}
@media (max-width: 500px) {
  body .contactus .mainContact form .submitButton input {
    padding: 10px 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
  }
}
body .contactus .mainContact form .submitButton input:hover {
  background: #D3ddEA;
  color: #22324d;
}
footer {
  display: flex;
  flex-direction: column;
  background: #22324d;
}
footer .navContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #22324d;
  margin-top: 20px;
  border-bottom: 3px solid #828C9B;
}
footer .navContainer nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 70%;
  font-size: 2rem;
  font-family: 'Gayathri', sans-serif;
  padding-bottom: 13px;
}
@media (max-width: 500px) {
  footer .navContainer nav {
    width: 90%;
    height: 60px;
    font-size: 2rem;
    margin-right: 5%;
    margin-left: 5%;
  }
}
footer .navContainer nav a {
  color: #D3ddEA;
  text-decoration: none;
}
footer .navContainer nav a:hover {
  color: #FF990A;
}
footer .navContainer img {
  width: 70px;
}
@media (max-width: 500px) {
  footer .navContainer img {
    display: none;
  }
}
footer .copyright p {
  text-align: center;
  padding-top: 15px;
  color: #D3ddEA;
}
.aboutNavContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #22324d;
  margin-top: 20px;
  border-bottom: 3px solid #828C9B;
}
@media (max-width: 880px) {
  .aboutNavContainer {
    justify-content: space-between;
    height: 70px;
  }
}
.aboutNavContainer h1 {
  color: #D3ddEA;
  align-self: flex-end;
  padding: 5px;
  font-size: 3.5vw;
  margin-left: 10px;
}
@media (max-width: 880px) {
  .aboutNavContainer h1 {
    width: 25%;
    font-size: 4vw;
    justify-self: flex-start;
    padding: 1%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .aboutNavContainer h1 {
    font-size: 5vw;
  }
}
.aboutNavContainer nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 85%;
  font-size: 1.75vw;
  font-family: 'Gayathri', sans-serif;
  padding-bottom: 13px;
}
@media (max-width: 880px) {
  .aboutNavContainer nav {
    width: 80%;
    height: 60px;
    font-size: 3vw;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .aboutNavContainer nav {
    width: 80%;
    height: 60px;
    font-size: 3.5vw;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: space-between;
  }
}
.aboutNavContainer nav a {
  color: #D3ddEA;
  text-decoration: none;
}
@media (max-width: 880px) {
  .aboutNavContainer nav a {
    padding-right: 5px;
  }
}
.aboutNavContainer nav a:hover {
  color: #FF990A;
}
.aboutNavContainer img {
  margin-right: 10px;
}
@media (max-width: 880px) {
  .aboutNavContainer img {
    display: none;
  }
}
@media (max-width: 500px) {
  .aboutNavContainer img {
    display: none;
  }
}
.aboutHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #D3ddEA;
  border-bottom: none;
}
.aboutHeader h1 {
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 30px;
  text-align: center;
  font-size: 6vw;
  color: #22324d;
  border-bottom: 4px solid #828C9B;
}
@media (min-width: 1350px) {
  .aboutHeader h1 {
    font-size: 5vw;
  }
}
@media (max-width: 880px) {
  .aboutHeader h1 {
    font-size: 7.5vw;
  }
}
@media (max-width: 500px) {
  .aboutHeader h1 {
    font-size: 12vw;
  }
}
.aboutHeader .headerContent {
  display: flex;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}
.aboutHeader .headerContent .headerImage {
  display: flex;
  justify-content: center;
  width: 15%;
  margin-left: 2.5%;
}
.aboutHeader .headerContent .headerImage img {
  width: 100%;
  align-self: center;
}
@media (max-width: 500px) {
  .aboutHeader .headerContent .headerImage img {
    align-self: flex-start;
  }
}
.aboutHeader .headerContent .slogan {
  width: 80%;
  margin-left: 2.5%;
}
.aboutHeader .headerContent .slogan h4 {
  width: 100%;
  padding-top: 25px;
  font-size: 4vw;
  color: #22324d;
}
@media (min-width: 1350px) {
  .aboutHeader .headerContent .slogan h4 {
    font-size: 3vw;
  }
}
@media (max-width: 880px) {
  .aboutHeader .headerContent .slogan h4 {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .aboutHeader .headerContent .slogan h4 {
    font-size: 5.5vw;
  }
}
.aboutHeader .headerContent .slogan p {
  width: 100%;
  padding-right: 25px;
  font-size: 2vw;
  color: #22324d;
}
@media (min-width: 1350px) {
  .aboutHeader .headerContent .slogan p {
    font-size: 1.6vw;
  }
}
@media (max-width: 880px) {
  .aboutHeader .headerContent .slogan p {
    font-size: 2.25vw;
  }
}
@media (max-width: 500px) {
  .aboutHeader .headerContent .slogan p {
    font-size: 3.75vw;
  }
}
.aboutBody .title {
  background: #D3ddEA;
}
.aboutBody .title h2 {
  width: 100%;
  font-size: 4vw;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: #D3ddEA;
  text-transform: uppercase;
  background: #22324d;
}
@media (max-width: 500px) {
  .aboutBody .title h2 {
    font-size: 8vw;
  }
}
.aboutBody .team {
  display: flex;
  flex-direction: column;
  background: #D3ddEA;
  padding-bottom: 20px;
}
.aboutBody .team .teamMember {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  border: 5px solid #22324d;
  border-radius: 15px;
  margin-top: 25px;
  background: #545E75;
}
.aboutBody .team .teamMember .profile {
  display: flex;
  width: 100%;
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .profile {
    flex-direction: column-reverse;
  }
}
.aboutBody .team .teamMember .profile .imgContainer {
  width: 27%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .profile .imgContainer {
    align-self: center;
  }
}
.aboutBody .team .teamMember .profile .imgContainer img {
  width: 92%;
  margin: 4%;
  border: 4px solid #D3ddEA;
  border-radius: 15px;
}
.aboutBody .team .teamMember .profile .person {
  display: flex;
  flex-direction: column;
  width: 65%;
}
@media (max-width: 880px) {
  .aboutBody .team .teamMember .profile .person {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .profile .person {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }
}
.aboutBody .team .teamMember .profile .person h3 {
  margin-top: 30px;
  padding: 2%;
  font-size: 5.5rem;
  color: #D3ddEA;
}
@media (max-width: 880px) {
  .aboutBody .team .teamMember .profile .person h3 {
    font-size: 6vw;
  }
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .profile .person h3 {
    text-align: center;
    font-size: 8vw;
  }
}
.aboutBody .team .teamMember .profile .person h4 {
  margin-top: 30px;
  padding: 2%;
  font-size: 3.5rem;
  color: #D3ddEA;
}
@media (max-width: 880px) {
  .aboutBody .team .teamMember .profile .person h4 {
    font-size: 4vw;
  }
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .profile .person h4 {
    text-align: center;
    font-size: 5.5vw;
    margin-top: 10px;
  }
}
.aboutBody .team .teamMember p {
  width: 98%;
  color: #D3ddEA;
  padding: 2%;
  font-size: 2rem;
}
@media (max-width: 880px) {
  .aboutBody .team .teamMember p {
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember p {
    font-size: 3.5vw;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }
}
.aboutBody .team .teamMember .GitHub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aboutBody .team .teamMember .GitHub p {
  width: 14%;
  font-family: 'Questrial', sans-serif;
  font-size: 2.8vw;
  color: #D3ddEA;
  margin: 0;
  padding: 5px 0;
  text-align: right;
}
@media (min-width: 1350px) {
  .aboutBody .team .teamMember .GitHub p {
    width: 20%;
    font-size: 2.2vw;
  }
}
@media (max-width: 880px) {
  .aboutBody .team .teamMember .GitHub p {
    width: 18%;
    font-size: 4vw;
  }
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .GitHub p {
    width: 20%;
    font-size: 5vw;
  }
}
.aboutBody .team .teamMember .GitHub a {
  width: 8%;
  padding: 5px 0;
}
@media (max-width: 500px) {
  .aboutBody .team .teamMember .GitHub a {
    width: 12%;
  }
}
.aboutBody .team .teamMember .GitHub a img {
  width: 100%;
}
.aboutBody .team .teamMember .GitHub a img:hover {
  transform: scale(1.2);
}
